# Node dependencies
node_modules/

# VSCode workspace settings
.vscode/

# Output folders
out/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Package files
*.vsix

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional editor backups
*.swp
*.swo